<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vue Dischi</title>
  <link rel="stylesheet" href="css/style.css" />
  <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js'
    integrity='sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=='
    crossorigin='anonymous'></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    <header>
      <div class="container">
        <section class="menu-container">
          <img src="img/logo.png" />
          <div class="select-genre">
            <select name="genre" v-model="selectGenre">
              <option value="all">Tutti</option>
              <option v-for="genre in filteredGenre" :value="genre.toLowerCase()">{{ genre }}</option>
            </select>
          </div>
        </section>
      </div>
    </header>
    <main class="container">
      <section id="album-container">
        <div class="card" v-for="disc in sortedDiscs" v-if="filter(disc)">
          <img :src="disc.poster" alt="New Jersey" />
          <h2 class="title">{{ disc.title }}</h2>
          <address class="author">{{ disc.author }}</address>
          <time datetime="1988" class="year">{{ disc.year }}</time>
        </div>
      </section>
    </main>
  </div>

  <script src="js/script.js"></script>
</body>

</html>